.array-container {
	width: 100%;
	height: 75vh;
	margin: auto;
	overflow: hidden;
}

.array-bar {
	width: 2px;
	background-color: pink;
	display: inline-block;
	margin: 0 1px;
}

.dashboard {
	height: 25vh;
	background-color: darkmagenta;
}

.container {
	background-color: darkgray;
	height: 100vh;
}
