.array-container {
	position: absolute;
	overflow: hidden;
	width: 100%;

	margin-right: auto;
	margin-left: auto;
	bottom: 0;
}

.array-bar {
	width: 2px;
	background-color: pink;
	display: inline-block;
	margin: 0 1px;
}

.content {
	position: relative;
	height: 85vh;
	margin: auto;
	width: 100%;
}

.dashboard {
	height: 15vh;
	background-color: darkmagenta;
}

.container {
	background-color: darkgray;
	height: 100vh;
}
